/* -----
SVG Icons - svgicons.sparkk.fr
----- */


.svg-icon {
    width: 2em;
    height: 2em;
  }
 
.svg-icon:hover {
    cursor: pointer;
}  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: green;
}

.svg-icon circle {
stroke: green;
stroke-width: 1;
}



.volume {
margin-top: 8px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.volume input[type=range] {
display: none;
}

.volume .icon-size {
font-size: 2rem;
}

.volume .bar-hoverbox {
padding: 10px 15px;
opacity: 0.7;
-webkit-transition: opacity .2s;
transition: opacity .2s;
}

.volume .bar-hoverbox:hover {
opacity: 1;
cursor: pointer;
}

.volume .bar {
background: #999;
height: 7px;
width: 120px;
border-radius: 15px;
overflow: hidden;
pointer-events: none;
}

.volume .bar .bar-fill {
background: green;
width: 30%;
height: 100%;
background-clip: border-box;
pointer-events: none;
}
